		<!-- INCLUDE HEADER -->
		<!-- <div id="app"> in header -->
			<!-- INCLUDE SIDEBAR -->
			<!-- <div class="app-content"> in sidebar -->
				<!-- INCLUDE TOPNAVBAR -->
				
				<!-- <div class="main-content" >
					<div class="wrap-content container" id="container"> in topnavbar -->

						<!-- INCLUDE DASHBOARD TITLE -->
						<!-- INCLUDE FEATURED BOX LINKS -->
						
						<!-- CONTENT SECTIONS WAS HERE -->

			<!-- 		</div>
				</div>
			</div> in contentfooter -->
			<!-- INCLUDE CONTENT FOOTER -->
			<!-- INCLUDE OFF SIDE BAR -->
			<!-- INCLUDE SETTINGS -->
		<!-- </div> in footer -->
		<!-- INCLUDE FOOTER -->